//
   Created by greg on 2/28/16.

mixin project(pr)
    div.left.pure-u-1-4
        span #{pr.name}
        if #{pr.endDate}
            span #{pr.startDate}
            p to
            span #{pr.endDate}
        else
            p Ongoing from
            span #{pr.startDate}

        if pr.vcsUrl
            span: a(href=#{pr.vcsUrl}) #{pr.vcsName}
        if pr.demoUrl
            span: a(href=#{pr.demoUrl}) Demo
    div.right.pure-u-3-4
        div.description.pure-u-1
            p #{pr.description}
        div.tech.pure-u-1
            p #{pr.tech}
    div.pure-u-1.pics
        each pic in pr.pictures
            img.icon(src=#{pic.url})

extends layout
block content
    each item, index in projects
        if index % 2 == 0
            div.project.pure-u-1.pure-u-xl-1-2
                +project(item)
        else
            div.project.pure-u-1.pure-u-xl-2-2
                +project(item)
