mixin work(item)
    if item.endDate
        - var dateEnd = moment(item.endDate)
        - var dateEndStr = dateEnd.format('MM/YYYY')
    - var dateStart = moment(item.startDate)
    - var dateStartStr = dateStart.format('MM/YYYY')
    div.res-work
        div: span.res-company.res-subheader #{item.company}
            //span &#32:&#32
        span.res-position #{item.position}
        if item.endDate
            span.res-date #{dateStartStr} to #{dateEndStr}
        else
            span.res-date #{dateStartStr} to present
        div: span.res-summary #{item.summary}
        div: ul
                each point in item.highlights
                    li #{point}

mixin skill(item, col)
    - var c = "pure-u-md-1-" + col
    div.pure-u-1(class=c)
        div.res-skill
            span.res-skill-name.res-subheader #{item.name}&#32
            //span.res-skill-level #{item.level}&#32
            div
                each key, index in item.keywords
                    if index < item.keywords.length -1
                        span.res-keyword #{key},&#32
                    else
                        span.res-keyword #{key}

mixin edu(item)
    div
        span.res-edu-school.res-subheader #{item.institution}
    div
        span.res-edu-degree #{item.studyType},&#32
        span.res-edu-major #{item.area}
        span.res-date #{moment(item.endDate).format("YYYY")}



extends layout
block content
    div.pure-u-1.res-header
        span.res-name #{basics.name}
        span.res-title #{basics.label}
    div.res-section
        div.pure-u-lg-1-6.pure-u-1.res-section-header
            span Contact
        div.pure-u-lg-5-6.pure-u-1.res-section-content
            if basics.email
                div
                    label.res-contact-label Email
                    span #{basics.email}
            if basics.phone
                div
                    label.res-contact-label Phone
                    span #{basics.phone}
            if basics.website
                div
                    label.res-contact-label Website
                    span: a(href=basics.website) #{basics.website}
    div.res-section
        div.pure-u-lg-1-6.pure-u-1.res-section-header
            span About
        div.pure-u-lg-5-6.pure-u-1.res-section-content
            span #{basics.summary}
    div.res-section
        div.pure-u-lg-1-6.pure-u-1.res-section-header
            span Skills
        div.pure-u-lg-5-6.pure-u-1.res-section-content
            if skills.length >= 6
                - var col = 3
            else
                - var col = 2
            each item, index in skills
                +skill(item, col)
    div.res-section
        div.pure-u-lg-1-6.pure-u-1.res-section-header
            span Experience
        div.pure-u-lg-5-6.pure-u-1.res-section-content
            each item, index in work
                +work(item)
    div.res-section
        div.pure-u-lg-1-6.pure-u-1.res-section-header
            span Education
        div.pure-u-lg-5-6.pure-u-1.res-section-content
            each item in education
                +edu(item)
